body{
    margin: 0;
    padding: 0;
    background-color: rgb(235, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}

h1{
margin: 0;
padding: 0;
background-color: rgb(255, 255, 255);
font-family: monospace;
text-align: center;
font-size: 80px;
}

    h2{
margin: 0;
padding: 0;
text-align: center;
font-size: 40px;
}


.imagemfilme{
    text-align: center;
    align-content: center;
   
}

.imagemv{
width: 390px;
height: 400px;
padding: 40px;
border-radius: 100px;
}

.cartazes{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.preçofilmes{
text-align: center;
align-content: center;
justify-content: center;
color: gold;
}

.nomefilmes{
    color: white;
}

a{
color: gold;
background-color: black;
font-size: 30px;
border-radius: 100px;


}





